<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de crianças com espectro de autismo</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-child">
    <h5 class="card-header">Lista de crianças</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Idade</th>
              <th scope="col">Grau de severidade</th>
              <th scope="col">Profissional responsável</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let child of children">
              <td>{{child.id}}</td>
              <td>{{child.name}}</td>
              <td>{{child.age}}</td>
              <td>{{child.severity}}</td>
              <td>{{child.responsible_pro}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editChild(child)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteChild(child)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="card add-child">
      <h5 class="card-header">Adicionar/Atualizar criança</h5>
      <div class="card-body">
          <form id="add-form" (ngSubmit)="f.form.valid && saveChild(f)" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="id">Número de identificação</label>
              <input type="text" [(ngModel)]="child.id" id="id" name="id" #id="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && id.invalid }" placeholder="Digite o id">
              <div *ngIf="f.submitted && id.invalid" class="invalid-feedback">
                  <div *ngIf="(id.errors !== null)and(id.errors.required)">Identificação é obrigatória</div>
              </div>
            </div>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" [(ngModel)]="child.name" id="name" name="name" #name="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" placeholder="Digite o nome">
                <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                    <div *ngIf="(name.errors !== null)and(name.errors.required)">Nome é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
              <label for="age">Idade</label>
              <input type="text" [(ngModel)]="child.age" id="age" name="age" #age="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && age.invalid }" placeholder="Digite a Idade">
              <div *ngIf="f.submitted && age.invalid" class="invalid-feedback">
                  <div *ngIf="(age.errors !== null)and(age.errors.required)">Idade é obrigatório</div>
              </div>
            </div>  
            <div class="form-group">
                <label for="severity">Grau de severidade</label>
                <input type="text" [(ngModel)]="child.severity" id="severity" name="severity" #severity="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && severity.invalid }" placeholder="Digite o grau de severidade">
                <div *ngIf="f.submitted && severity.invalid" class="invalid-feedback">
                    <div *ngIf="(severity.errors !== null)and(severity.errors.required)">Grau de severidade é obrigatório</div>
                </div>
            </div>    
            <div class="form-group">
                  <label for="responsible_pro">Profissional responsável</label>
                  <input type="text" [(ngModel)]="child.responsible_pro" id="responsible_pro" name="responsible_pro" #responsible_pro="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && responsible_pro.invalid }" placeholder="Digite o profissional responsável">
                  <div *ngIf="f.submitted && responsible_pro.invalid" class="invalid-feedback">
                      <div *ngIf="(responsible_pro.errors !== null)and(responsible_pro.errors.required)">Profissional responsável é obrigatório</div>
                  </div>
            </div>
            <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
            <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
          </form>
      </div>
    </div>
</div>