<h1>Registro de atividades</h1>

<!--<table class=”table-bordered”>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Título</th>
        <th scope="col">Descrição</th>
        <th scope="col">Dificuldade</th>
        </tr>
        <tr *ngFor="let task of tasks|filter:searchTerm|sort:direction:column:type">
        <td>{{task.id}}</td>
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td>{{task.difficulty}}</td>
        </tr>
</table>-->

<!--<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Título</th>
            <th scope="col">Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteTask(task)">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>-->

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" name="tabelaDeAtividades">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header name="dificuldade"> Dificuldade </th>
        <td mat-cell *matCellDef="let element" name="dificuldadeValue"> {{element.difficulty}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
<!--    <td>
        <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteTask(task)">Deletar</button>
    </td> -->
</table>
<table class="table table-striped">
    <tr>
        <th scope="col">Id</th>
        <th>
            <input [(ngModel)]="task.id">
        </th>
    </tr>    
    <tr>
        <th scope="col">Título</th>
        <td>
            <input [(ngModel)]="task.title">
        </td>
    </tr>    
    <tr>
        <th scope="col">Descrição</th>
        <td>
            <textarea [(ngModel)]="task.description"></textarea>
        </td>
    </tr>
    <tr>
        <th scope="col">Dificuldade</th>
        <td>
            <select [(ngModel)]="task.difficulty">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </td>
    </tr>
    <tr>
        <th scope="col">Dependencias</th>
        <td>
            <input [(ngModel)]="aux">
        </td>
        <td>
            <button (click)="addDependence()">Adicionar dependencia</button>
        </td>
    </tr>
    <tr>
        <th scope="col">Lista de Id de dependencia</th>
    </tr>
    <tr *ngFor="let d of task.dependencies">
        <th>{{ d }}</th>
    </tr>    
    
<tbody>
    <tr>
        <td>

            <button type="button" class="btn btn-primary btn-sm" (click)=saveTask()>Salvar</button>
            <button type="button" class="btn btn-secondary btn-sm ml-1"> Cancelar</button>
        </td>
    </tr>
</tbody>

</table>