<div>
    <br>
    <h6>Digite a meta: </h6>
    <input [(ngModel)]="thereforeFinder"> <p *ngIf="task"></p>

    <p *ngIf=" task_title != '' ">As atividades que dependem da meta escolhida são:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th >Id</th>
                <th >Título</th>
                <th >Descrição</th>
            </tr>
        </thead>
        <body>
            <tr *ngFor="let t of tasks">
                <th scope="col">{{ t.id }}</th>
                <th scope="col">{{ t.title }}</th>
                <th scope="col">{{ t.description }}</th>
            </tr>
            <tr *ngIf="tasks.length == 0 && exists == true && task_title != ''">
                <th scope="col">Nenhuma meta dependente</th>
            </tr>
            <tr *ngIf="(tasks.length == 0 && exists == false) && task_title != ''">
                <th scope="col">Meta não cadastrada</th>
            </tr>
        </body>
    </table>
</div>
