<h1>{{child.name}}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Pais</th>
            <th scope="col">Grau de severidade</th>
            <th scope="col">Profissional responsável</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ child.id }}</td>
            <td>{{ child.name }}</td>
            <td>{{ child.age }}</td>
            <td>{{ child.parents }}</td>
            <td>{{ child.severity }}</td>
            <td>{{ child.responsible_pro }}</td>
        </tr>

    </tbody>
</table>
<button type="button" class="btn btn-primary btn-sm" (click)="set_goal_status_function()">
    Status de metas
</button>
<div *ngIf="goal_status">
    <app-goal-status></app-goal-status>

<button type="button" class="btn btn-primary btn-sm" (click)="prerequisite_goals_func()">Atividade Pré-requisitas</button>
<div *ngIf="prerequisite_goals_key">
        <app-prerequisite></app-prerequisite>
</div>