<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand">SACA options</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="register-child" class="nav-link">Registrar crianças</a>
            </li>
            <li class="nav-item">
                <a routerLink="register-task" class="nav-link" name="register-task">Registro de atividades</a>
            </li>
            <li class="nav-item">
                <a routerLink="children-detailing" class="nav-link">Detalhamento das crianças</a>
            </li>
        </ul>
    </div>

</nav>